* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    color: rgb(30, 30, 30);
}

.flex{
    display: flex;
}

.bg-fff{
    background-color: #fff;
}

/* Header: barra superiore */
header {
    position: fixed;
    justify-content: space-between;
    width: 100%;
    z-index: 50;
}

.funzioni {
    width: 450px;
}

.supporto {
    width: 400px;
    padding-right: 5px;
}

header ul{
    height: 65px;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.funzioni img{
    margin-top: 5px;
    margin-left: 3px;
    width: 100px;
}

.funzioni a,
.supporto a{
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: #6b6b6b;
}

.pulsante{
    background-color: #0061ff;
    padding: 5px 13px;
    cursor: pointer;
}

.pulsante:hover{
    background-color: #2075ff;
}

.pulsante a{
    color: #fff;
    font-weight: 400;
}

/* Realizzazione struttura area sotto l'header */
.contenitorePrimario{
    background-color: #b4d0e7;
    width: 100%;
    height: 582px;
}

.areaJumbo{
    max-width: 950px;
    height: 100%;
    margin: 0 auto;
    background-color: #86bfed;
}

/* Realizzazione struttura area principale */
.contenitoreSecondario{
    background-color: #d3b3cd;
    width: 100%;
    height: 4000px;
}

.contenitoreMain{
    max-width: 780px;
    margin: 0 auto;
    
}

.areaPrezzi{
    background-color: #86ed92;
    height: 1000px;
}

.partnerDrop{
    background-color: #e8ed86;
    height: 600px;
}

.operazioni{
    background-color: #edc586;
    height: 1100px;
}

.loghiParter{
    width: 100%;
    height: 500px;
    background-color: #86edc7;
}

.dropBusiness{
    width: 100%;
    height: 300px;
    background-color: #2633a8;
}

.faq{
    width: 100%;
    height: 550px;
    background-color: #a82651;
}

/* Realizzazione struttura area footer */
footer{
    width: 100%;
    height: 500px;
    background-color: #000;
    color: #fff;
}