* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    color: rgb(30, 30, 30);
}

.flex{
    display: flex;
}

.bg-fff{background-color: #fff;}
.bg-a2d39b{background-color: #a2d39b;}
.bg-61082b{background-color: #61082b;}
.bg-0093ce{background-color: #0093ce;}
.bg-ff1c1c{background-color: #ff1c1c;}
.bg-b4d0e7{background-color: #b4d0e7;}
.bg-0d2481{background-color: #0d2481;}
.bg-ffd830{background-color: #ffd830;}

/* Header: barra superiore */
header {
    position: fixed;
    justify-content: space-between;
    width: 100%;
    z-index: 50;
}

.funzioni {
    width: 450px;
}

.supporto {
    width: 400px;
    padding-right: 5px;
}

header ul{
    height: 65px;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

header ul li a:not(a[id="logo"], a[id="pulsante"]){
    transition: all 200ms;
    padding: 15px 0;
    display: flex;
    align-items: center;
}

header ul li a:not(a[id="logo"], a[id="pulsante"]):hover{
    border-bottom: 2px solid #6b6b6b;
    padding-top: 2px;
}

.funzioni img{
    margin-top: 5px;
    margin-left: 3px;
    width: 100px;
}

.funzioni a,
.supporto a{
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: #6b6b6b;
}

.pulsante{
    background-color: #0061ff;
    padding: 5px 13px;
    cursor: pointer;
}

.pulsante:hover{
    background-color: #2075ff;
}

.pulsante a{
    color: #fff;
    font-weight: 400;
}

/* Main: Area presentazione sotto l'header */
.contenitorePrimario{
    padding-top: 65px;
    background-color: #b4d0e7;
    width: 100%;
}

.areaJumbo{
    max-width: 950px;
    margin: 0 auto;
}

.areaJumbo h1{
    padding: 60px 0 40px;
    font-size: 3.9rem;
    font-weight: 800;
}

.presentazioneJumbo{
    position: relative;
}

.testoPulsanti{
    flex-basis: 31%;
}

.testoPulsanti a, 
.testoPulsanti p{
    display: block;
    color: rgb(30, 30, 30);
    text-decoration: none;
    font-weight: 600;
}

#stylePulsante{
    text-decoration: none;
    padding: 10px;
    margin: 25px 0 20px;
    color: #fff;
    font-weight: 400;
    display: inline-block;
}

.presentazioneJumbo img{
    position: absolute;
    left: 30%;
    flex-grow: 1;
    max-width: 680px;
}

#annullaIscrizione{
    padding: 0px;
    margin: 0;
}

#annullaIscrizione:hover{
text-decoration: underline;
}

#areaFrecciaScroll{
    position: relative;
    height: 115px;
    cursor: auto;
}

#frecciaScroll{
    padding: 30px 0;
    position: absolute;
    font-size: 2.5rem;
    margin: 55px 0 15px;
    cursor: pointer;
    transform: translateY(-30px);
}

#frecciaScroll:hover{
    animation-name: scorri;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
}

@keyframes scorri {
    0% {
        top: 0px;
    }

    50% {
        top: 15px;
    }

    100% {
        top: 0px;
    }
}

/* Main: Area principale contenente le info sul prodotto */
.contenitoreSecondario{
    width: 100%;
    height: 4500px; /* da rimuovere */
}

.contenitoreMain{
    max-width: 790px;
    margin: 0 auto;
}

.areaPrezzi{
    padding: 120px 0;
}

.areaPrezzi h2{
    font-size: 2rem;
    font-weight: 700;
}

.radioSceltaPrezzo{
    padding: 42px 0;
}

input[type=radio]{
    width: 17px;
    height: 17px; 
    border: 2px solid #d1d1d4;
    background-color: #fff;
    background-clip: content-box;
    appearance: none;
    border-radius: 50%;
    line-height: 25px;
    vertical-align: middle;
} 

input[type="radio"]:checked {
    border: 4px solid #0061ff;
	background-color: #fff;
}

label{
    padding-right: 40px;
    font-size: 0.7rem;
}

/* Main: ontenitore relativo alla scheda prodotto */
.abbonamento{
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 13px;
    padding-bottom: 40px;
}

.schedaPrezzo{
    width: calc(100% / 3 - 2px - 26px);
    border: 1px solid #bdbdc0;
}

.titoloScheda{
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #bdbdc0;
    padding: 8px 0;
}

.titoloScheda i{
    padding-right: 5px;
}

.titoloScheda h3{
    font-size: 0.7rem;
    font-weight: 500;
}

.schedaProdotto{
    padding: 25px;
}

.schedaProdotto h2{
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.elementoPulsante{
    color: #fff;
    font-size: 0.7rem;
    display: block;
    text-align: center;
    padding: 9px;
    margin-bottom: 20px;
    text-decoration: none;
}

.margineDivisore30{
    margin-bottom: 30px;
}

.margineDivisore50{
    margin-bottom: 50px;
}

.margineDivisore120{
    margin-bottom: 120px;
}

.descrizione{
    list-style-type: none;
}

.descrizione i{
    font-size: 0.7rem;
    flex-basis: 5px;
    padding: 7px 0;
    padding-right: 5px;
}

.descrizione i[class="fa-solid fa-check"]{
    color: #1c64ff;
}

.schedaProdotto p,
.descrizione p{
    flex-grow: 1;
    font-size: 0.7rem;
    padding: 5px 0;
}

.schedaProdotto p span{
    padding-bottom: 30px;
    border-bottom: 1px solid #bdbdc0;
}

.font-weight700{
    font-weight: 700;
}

#caratteristicheProdotto{
    font-size: 0.7rem;
    padding-top: 35px;
}

/* Main: Quarto contenitore orizzontale relativo alla scheda prodotto */
.scherdaPrezzoOrizzontale{
    width: 100%;
    border: 1px solid #bdbdc0;
}

.flexBasis-PulsanteContattiUffico{
    flex-basis: calc(100% / 3 - 2px);
}

/* Main: area partner */
.partnerDrop img{
    width: 60%;
    padding-bottom: 120px;
}

.areaPartner{
    padding: 40px;
}

.areaPartner p{
    margin-bottom: 15px;
    padding: 15px 0;
    line-height: 1.1rem;
    font-weight: 500;
}

.pulsante-bianco{
    background-color: #fff;
    padding: 6px 11px;
    border: 2px solid #7f7f7f;
    text-decoration: none;
}

.pulsante-bianco:hover{
    background-color: rgb(245, 245, 245);
}

/* Main: area operazioni Dropbox business */
.operazioni h2{
    font-size: 2rem;
}

.operazioni a{
    text-decoration: none;
}
.operazioni a:hover{
    text-decoration: underline;
}

.contenitoreSchedeOperazioni{
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.singolaOperazione{
    width: calc(100% / 3 - 25px);
    column-gap: 25px;
    margin: 55px 0 20px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.singolaOperazione:hover{
    transition: all 300ms;
    transform: scale(1.05);
    box-shadow: 12px 12px 15px rgb(230, 230, 230);
}

.singolaOperazione img{
    width: 100%;
}

.singolaOperazione h3{
    font-size: 1.2rem;
    padding-bottom: 15px;
}

.singolaOperazione p{
    font-weight: 500;
}

/* Main: area operazioni loghi Partner */
.quadratiEsterni{
    flex-basis: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5f5;
}

.quadrato{
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.quadrato:hover{
    border: 13px solid rgba(255, 255, 255, 0.5);
}

.quadrato img{
    width: 50%;
}

.quadrato:hover img{
    width: calc(50% + 13px);
    transition: transform 400ms;
    transform: rotate(-25deg);
}

.quadratoEsternoCentrale{
    position: relative;
}

.quadratoEsternoCentrale img{
    width: 50%;
    position: absolute;
    top: 8%;
    left: 40px;
}

.quadratoEsternoCentrale span{
    position: absolute;
    top: 33%;
    left: 40px;
    width: 100px;
    height: 1px;
    background-color: #d8d8da;
}

.quadratoEsternoCentrale .testoQuadratoCentrale{
    height: calc(100vw / 6);
    position: absolute;
    top: 42%;
    left: 40px;
    right: 40px;
    overflow-y: auto;
}

/* Main: area prova gratuita Dropbox business */
.dropBusiness{
    width: 100%;
    background-color: #b4d0e7;
    justify-content:center;
    align-items: center;
}

.dropBusiness h2{
    font-size: 2rem;
    color: #610833;
    padding: 90px 200px 90px 0;
}

.dropBusiness a{
    border: none;
    padding: 8px 35px;
}






.faq{
    width: 100%;
    height: 550px;
    background-color: #a82651;
}

/* Realizzazione struttura area footer */
footer{
    width: 100%;
    height: 500px;
    background-color: #000;
    color: #fff;
}