* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

/* Realizzazione struttura header */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #aaa;
    height: 65px;
}

.funzioni {
    background-color: orange;
    width: 450px;
    height: 100%;
}

.supporto {
    background-color: yellowgreen;
    width: 450px;
    height: 100%;
}

/* Realizzazione struttura area sotto l'header */
.contenitorePrimario{
    background-color: #b4d0e7;
    width: 100%;
    height: 582px;
}

.areaJumbo{
    max-width: 950px;
    height: 100%;
    margin: 0 auto;
    background-color: #86bfed;
}

/* Realizzazione struttura area principale */
.contenitoreSecondario{
    background-color: #d3b3cd;
    width: 100%;
    height: 4000px;
}

.contenitoreMain{
    max-width: 780px;
    margin: 0 auto;
    
}

.areaPrezzi{
    background-color: #86ed92;
    height: 1000px;
}

.partnerDrop{
    background-color: #e8ed86;
    height: 600px;
}

.operazioni{
    background-color: #edc586;
    height: 1100px;
}

.loghiParter{
    width: 100%;
    height: 500px;
    background-color: #86edc7;
}

.dropBusiness{
    width: 100%;
    height: 300px;
    background-color: #2633a8;
}

.faq{
    width: 100%;
    height: 550px;
    background-color: #a82651;
}

/* Realizzazione struttura area footer */
footer{
    width: 100%;
    height: 500px;
    background-color: #000;
    color: #fff;
}